<div class="row mt-5">
    <div class="col-md-6 mt-5">
        <div class="card card-body">
            <h1 class="mt-4"> Dashboard
            </h1>
            <p class="lead mb-3">Welcome
                <%= name %>
            </p>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
</div>